name: Backend CI

on:
  push:
    branches: [ "main", "master" ]
    paths:
      - 'backend/**'
  pull_request:
    branches: [ "main", "master" ]
    paths:
      - 'backend/**'

env:
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: true

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: backend

      - name: Check code
        run: cargo check --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Clippy Linting
        run: cargo clippy -- -D warnings

      - name: Build Release
        run: cargo build --release --verbose
